body {
    color: #fff;
}

.main-content {
    padding-top: 0px;
    transform-origin: right;
    transition: background-color ease 0.25s;
}

// .white-overlay {
//     background: url(#{'"{{ \'whiteoverlay.png\' | asset_url }}"'});
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: absolute;
//     z-index: 0;
//     opacity: 0.1;
//     width: 100%;
//     height: 100%;
// }
