#contact-us {
    background: url(#{'"{{ \'overlay.png\' | asset_url }}"'});
    background-size: cover;
    font-family: $mainfont;
    h2.heading {
        padding-top: 40px;
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 0;
    }
    .form-success {
        padding: 5px 10px;
        color: #56ad6a;
    }
    form {
        font-family: $contentfont;
        .fields {
            margin-top: 10px;
            input, textarea {
                line-height: 33px;
                border-radius: 0px;
                padding-left: 30px;
            }
        }
        .submit {
            color: #fff;
            background: #000;
            border: none;
            font-weight: bold;
            letter-spacing: 0;
            font-size: 12px;
            padding: 20px;
        }
        .error-label {
            margin-top: 5px;
            color: #ff857c;
            display: block;
            font-weight: bold;
            font-size: 12px;
        }
        .error {
            -webkit-box-shadow: 0px 0px 10px 3px rgba(245,19,3,1);
            -moz-box-shadow: 0px 0px 10px 3px rgba(245,19,3,1);
            box-shadow: 0px 0px 10px 3px rgba(245,19,3,1);
        }
    }
