#small-wines {
    padding-bottom: 100px;
    margin-top: 70px;
    .wine-preview {
        background: #fff;
        border-radius: 3px;
        padding-bottom: 30px;
        @media (max-width: 991px) {
            margin-bottom: 100px;
        }
    }
    .last {
        @media (max-width: 991px) {
            margin-bottom: 0px;
        }
    }
    .wine-img {
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        width: 130px;
        margin: 0 auto;
    }

    h4 {
        margin-bottom: 0px;
        margin-left: 30px;
        font-size: 15px;
        font-family: $mainfont;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .source {
        color: #000;
        padding-top: 380px;
    }
}

.wine-col {
    @media (max-width: $screen-sm) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.tag {
    position:absolute;
    top: 400px;
    bottom: 0;
    right: 0;
    .price {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #fff;
        font-family: $mainfont;
        font-weight: bolder;
        line-height: 30px;
        padding-right: 50px;
        border-radius: 25px;
        position: absolute;
        right: -75px;
        width: 180px;
        line-height: 30px;
        top: -150px;
        padding: 5px 70px 5px 15px;

        @media (max-width: $screen-sm) {
            top: -120px;
            right: -40px;
        }

        @media (max-width: $screen-xs) {
            right: -58px;
        }
    }
    .cart {
        background: #fff;
        border-radius: 32px;
        text-align: center;
        padding: 9px 0px;
        position: absolute;
        width: 40px;
        right: -5px;
        top: -50px;

        @media (max-width: $screen-sm) {
            right: 30px;
            top: -10px;
        }

        @media (max-width: $screen-xs) {
            right: 4px;
            top: -57px;
        }

        .cart-img {
            height: 15px;
            width: 45px;
        }
    }
}