#small-wines {
    padding-bottom: 100px;
    margin-top: 70px;
    .wine-preview {
        background: #dedede;
        border-radius: 3px;
        padding-bottom: 30px;
        @media (max-width: 991px) {
            margin-bottom: 100px;
        }
    }
    .last {
        @media (max-width: 991px) {
            margin-bottom: 0px;
        }
    }
    .wine-img {
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    h4 {
        margin-bottom: 0px;
        margin-left: 40px;
        font-size: 15px;
        font-weight: 800;
        font-family: $mainfont;
        text-transform: uppercase;
    }

    .source {
        color: #000;
        padding-top: 300px;
    }
}

.wine-col {
    cursor: pointer;
    @media (max-width: $screen-sm) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.tag {
    position:absolute;
    top: 340px;
    bottom: 0;
    right: 0;
    .price {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #fff;
        font-family: $mainfont;
        font-weight: bold;
        font-size: 22px;
        line-height: 35px;
        padding-right: 50px;
        border-radius: 25px;
        position: absolute;
        right: -55px;
        width: 140px;
        top: -130px;
        padding: 5px 70px 5px 15px;

        @media (max-width: $screen-sm) {
            top: -150px;
            right: -20px;
        }

        @media (max-width: $screen-xs) {
            right: -20px;
        }
    }
    .cart {
        background: #fff;
        border-radius: 32px;
        text-align: center;
        padding: 10px 0px;
        position: absolute;
        width: 45px;
        right: -7px;
        top: -51px;

        @media (max-width: $screen-sm) {
            right: 28px;
            top: -71px;
        }

        .cart-img {
            height: 15px;
            width: 35px;
        }
    }
}