$primaryColor: #bfbfbf;
$mainBgColor: #484e55;
$primaryTextColor: #625f60;
$accentColor: #e5ae54;

$screen-min: 320px;
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 991px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

