#wine-selection {
    padding-bottom: 100px;
    margin-top: 70px;
    .wine-preview {
        background: #fff;
        border-radius: 3px;
        padding-bottom: 30px;
    }
    .wine-img {
        position: absolute;
        top: -85px;
        left: 85px;
    }

    h4 {
        margin-bottom: 0px;
        margin-left: 30px;
        font-size: 15px;
        font-family: $mainfont;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .source {
        color: #000;
        padding-top: 300px;
    }
}

.tag {
    position:absolute;
    top: 360px;
    bottom: 0;
    right: 0;
    .price {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #fff;
        font-family: $mainfont;
        font-weight: bolder;
        line-height: 30px;
        padding-right: 50px;
        border-radius: 25px;
        position: absolute;
        right: -65px;
        line-height: 30px;
        top: -150px;
        padding: 5px 70px 5px 15px;
    }
    .cart {
        background: #fff;
        border-radius: 32px;
        text-align: center;
        padding: 9px 0px;
        position: absolute;
        width: 40px;
        right: -6px;
        top: -63px;
        .cart-img {
            height: 15px;
            width: 45px;
        }
    }
}