.wine-container {
    .wine {
        > div {
            z-index: 10;
        }
    }

    .indicators {
        position: absolute;
        top: 35px;
        width: 100%;
        text-align: center;
        z-index: 10;
        margin: 0 auto;
        li {
            display: inline;
            margin: 0 5px;
            font-size: 10px;
            .active {
                color: #000;
            }
        }
    }
    .controls {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;

        .next, .prev {
            position: absolute;
            top: 130px;
            font-size: 40px;
            opacity: 0.5;
        }
        .next {
            right: 23.5%;
        }
        .prev {
            left: 23.5%;
        }
    }

    .wine-metadata {
        padding: 25px 125px;
        padding-top: 100px;
        h2, h1 {
            font-family: $mainfont;
            color: #000;
            font-size: 70px;
            line-height: 60px;
            margin: 0;
            text-transform: uppercase;
        }
        h1 {
            color: #fff;
            letter-spacing: 6.5px;
        }
    }

    .description {
        width: 800px;
        margin: 0 auto;
        height: 500px;
        font-family: $contentfont;
        p {
            color: white;
            margin-bottom: 30px;
        }
    }

    .wine-img-container {
        margin: 0 auto;
        width: 70%;
    }

    .wine-body {
        position: relative;
        z-index: 15;
    }

}

.price {
    font-family: $contentfont;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    font-size: 27px;

    span {
        font-size: 50px;
    }
    .decimals {
        font-size: 30px;
        display: inline-block;
    }
}

.nav-link {
    .cart {
        background: #fff;
        border-radius: 32px;
        text-align: center;
        padding: 8px 5px;

        img {
            width: 15px;
            margin-left: 8px;
        }
    }
}