<section id="contact-us" class="text-center" data-section-id="{{ section.id }}" data-section-type="contact-us">
  <div class="container">
    {% form 'contact' %}
      <h2 class="heading">CONTACT US</h2>
      {% if form.posted_successfully? %}
        <p class="form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
      {% endif %}
      <div class="row justify-content-center">
        <div class="fields col-md-8 col-offset-4">
          <input class="form-control required" type="text" id="name" name="contact[customer-name]" placeholder="Name">
        </div>
        <div class="fields col-md-8 col-offset-4">
          <input class="form-control" type="email" id="email" name="contact[email]" placeholder="Email">
        </div>
        <div class="fields col-md-8 col-offset-4">
          <input pattern="[0-9\-]*" class="form-control" type="tel" id="phone" name="contact[phone]" placeholder="Phone">
        </div>
        <div class="fields col-md-8 col-offset-4">
          <input class="form-control required" type="text" id="phone" name="contact[subject]" placeholder="Subject">
        </div>
        <div class="fields col-md-8 col-offset-4">
          <textarea class="form-control required" placeholder="Message" name="contact[body]" id="message" cols="30" rows="5"></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="fields col-md-2">
            <button class="form-control submit">SUBMIT</button>
        </div>
      </div>
    {% endform %}
  </div>
</section>

{% schema %}
    {
        "name": "Contact Us",
        "settings": [],
        "presets": [
            {
            "name": "Contact Us",
            "category": "Custom"
         }
        ]
    }
{% endschema %}
